* text=auto
*.csv text eol=lf
*.json text eol=lf
*.sha256 text eol=lf
*.html text eol=lf
*.joblib binary
*.pdf binary
*.png binary
*.webp binary
*.ttf binary
*.xls binary
limitiq/static/vendor/*.min.js binary
